[submodule "NopPluginTemplate"]
	path = templates/store-01/Nopcommerce-Plugin-Template
	url = https://github.com/kazirahiv/Nopcommerce-Plugin-Template.git
	branch = main
[submodule "NopAppTemplate"]
	path = templates/store-01/NopCommerce
	url = https://github.com/nopSolutions/NopCommerce.git
	branch = develop
[submodule "Virto Commerce"]
	path = templates/store-02/VcPlatform
	url = https://github.com/VirtoCommerce/vc-platform
	branch = dev
[submodule "SmartStoreAppTemplate"]
	path = templates/store-03/Smartstore
	url = https://github.com/smartstore/Smartstore
	branch = main
